<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<div align="center">
    <h2>Welcome to my site</h2>
</div>
<div>
    <table width="100%" border="1px">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Sex</th>
            <th></th>
        </tr>
        <tbody>
        <tr th:each="user:${listUsers}">
            <td>[[${user.id}]]</td>
            <td>[[${user.username}]]</td>
            <td>[[${user.firstname}]]</td>
            <td>[[${user.lastname}]]</td>
            <td>[[${user.sex}]]</td>
            <td>
                <a th:href="@{'user/edit/' + ${user.id}}">Edit</a>
                <a th:href="@{'user/delete/' + ${user.id}}">Delete</a>
            </td>

        </tr>
        </tbody>
    </table>
    <a href="/addNewUser">Add new user</a>
</div>

</body>
</html>