<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo Page</title>
</head>
<body>
    <h2>This is the list of todos</h2>
    <table width="100%" border="1px">
        <tr>
            <th>ID</th>
            <th>usernameID</th>
            <th>name</th>
            <th>description</th>
            <th>ready</th>
            <th></th>
        </tr>
        <tbody>
            <tr th:each="todo:${todos}">
                <td>[[${todo.id}]]</td>
                <td>[[${todo.usernameID}]]</td>
                <td>[[${todo.name}]]</td>
                <td>[[${todo.description}]]</td>
                <td>[[${todo.ready}]]</td>
                <td>
                    <a th:href="@{'todo/edit/' + ${todo.id}}">Edit</a>
                    <a th:href="@{'todo/delete/' + ${todo.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <a href="/todo/addNewTodo">Add new todo</a>
    </div>
    <div>
        <a href="/">Vissza a felhasználókhoz</a>
    </div>

</body>
</html>